<h1>Items</h1>
<br />
<% if @items.any? %> 
<!-- this is saying if items any then run-->
	<ul>
		<% @items.each do |item| %>
		<li>
			<%= link_to item.name, item_path(item) %>
			<%= button_to 'Edit Item', edit_item_path(item), method: :get %>
			<%= button_to "Delete", item_path(item), method: :delete, data: {confirm: 'Really delete this item?'} %>
		</li>
		<% end %>
	</ul>
	<% else %>
		<h3>No items to show</h3>
<% end %>
<hr />
<%= link_to 'New Item', new_item_path %>
<!-- this is like saying <a href="/items/new">New Item</a>  if you go to terminal and type rake routes will tell you the path needed remember to think verb = path -->